/axum/target

/axum/Cargo.lock
.env

/svelte/.DS_Store
/svelte/node_modules
/svelte/build
/svelte/.svelte-kit
/svelte/package-lock.json
/svelte/.env
/svelte/.env.*
/svelte/!.env.example
/svelte/vite.config.js.timestamp-*
/svelte/vite.config.ts.timestamp-*